.cart-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin: 1.25rem 0;
}

.cart-item + .cart-item {
  margin-top: 15px;
}

.cart-item img {
  width: 30%;
}

.cart-item .item-details {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
}

.cart-item .item-details .price {
  font-size: 16px;
  color: black;
}

.cart-item .item-details .name {
  font-size: 14px;
}

.popup {
  /* width: 20rem; */
  position: absolute;
  z-index: 9991;
  right: 0;
  top: calc(100% + 1.25rem);
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 18rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cartItems__popup {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  height: 85%;
  overflow-y: auto;
}

.popup button {
  outline: 0;
  border: 0;
  height: 15%;
  width: 100%;
  background: #f74046;
  color: white;
  border: 1px #f74046 solid;
  /* margin: 2rem 0; */
}

.popup button a {
  text-decoration: none;
  color: inherit;
}

.popup button:hover {
  color: #f74046;
  background-color: white;
}

.button-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empty--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .popup {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popup button {
    height: 5rem;
  }
  .popup .media__close--icon {
    display: block;
  }
}

.media__close--icon {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/*# sourceMappingURL=popup.css.map */