* {
  box-sizing: border-box;
  transition: all 100ms ease-in;
}
body {
  font-family: "Oswald";
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
